# general
build/
/build/
dist/
/dist/
target/
/target/
.texlipse
.classpath
/.classpath
.project
/.project
.settings/
/.settings/
.externalToolBuilders
/.externalToolBuilders/

# IntelliJ
*.iml
.idea

syntax: glob

# tmp files
*.swp
*.backup
*~

# for latex
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.synctex.gz
*.thm
*.toc

# mkdocs
site/
